@import "../../variables";

.root  {
  min-height: 100vh;
  background: linear-gradient(180deg, $third 0%, $primary 100%);
}

.contentWrap {
  display: flex;
}

.contentText {
  width: 516px;
  height: 557px;
}

.contentParallax {
  width: 793px;
  height: 680px;
}
